/*Cabeçalho*/

html,
body {
  min-height: 100vh;
  max-width: 100%;
}

@media screen and (orientation: portrait) {
  html,
  body {
    width: 100%;
  }
}

body {
  margin: 0%;
  padding: 0%;
  background: #fff;
  font-family: 'Varela Round', sans-serif;
  font-size: 11pt;
  font-weight: 400;
  color: #000000;
}

h1,
h2,
h3 {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  text-align: center;
  display: block;
}

p,
ol,
ul {
  margin-top: 0;
}

ol,
ul {
  padding: 0;
  list-style: none;
}

p {
  line-height: 180%;
}

#container-principal {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.box {
  margin: 0% auto;
  width: 100%;
}

ul.links-escolares {
  margin: 0;
  padding: 1em 0em 0em 0em;
  list-style: none;
}

ul.links-escolares li {
  display: inline-block;
  padding: 0em 0.20em;
  font-size: 1.2em;
}

ul.links-escolares li span {
  display: none;
  margin: 0;
  padding: 0;
}

ul.links-escolares li a {
  color: #00386a;
}

ul.links-escolares li a:before {
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  background: white;
  border-radius: 30px;
  text-align: center;
}

.button {
  display: inline-block;
  margin-top: 2em;
  padding: 0.6em 1em;
  background: #00386a;
  border-radius: 4px;
  line-height: 1.8em;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.2em;
  color: #FFF;
}

.button:before {
  display: inline-block;
  background: #8DCB89;
  margin-right: 1em;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  text-align: center;
  color: #272925;
}

#parte1 {
  max-width: 100%;
  margin-top: 0%;
}

.enunciado {
  margin-bottom: auto;
}

#cabecalhos {
  background-color: #fff;
  overflow: hidden;
}

#header {
  background-color: #fff;
  max-width: 100%;
}

.estilo-botao {
  display: block;
  margin-top: 0%;
}


/*menu*/

.btnMenu {
  background-image: url(images/menu.png);
  display: block;
  background-repeat: no-repeat;
  background-size: 45px;
  background-position: 15px center;
  text-indent: -9999px;
  padding: 20px 15px;
}

.btnMenu_close {
  background-repeat: no-repeat;
  background-position: 15px center;
  text-indent: -9999px;
  padding: 20px 15px;
}

.bntMenuClicado {
  background-color: #00386a;
  color: #fff;
}

.menu {
  position: relative;
  top: 26.2%;
  left: -13%;
  width: 100%;
  transform: translateX(-100%);
  transition: transform 200ms linear;
}

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0);
}

@font-face {
  font-family: 'titulo';
  src: url(amethyst/Amethyst.ttf);
}

#titulopagina {
  font-family: titulo;
  text-decoration: none;
  font-size: 22px;
  margin-left: 10%;
  user-select: none;
}

@media screen and (orientation:portrait) {
  #titulopagina {
    font-family: titulo;
    text-decoration: none;
    font-size: 22px;
    margin-left: 5%;
    margin-right: auto;
  }
}

@media screen and (orientation: landscape) {
  #titulopagina {
    font-family: titulo;
    text-decoration: none;
    font-size: 25px;
    margin-left: 10%;
    margin-right: auto;
  }
}

#cefetlogo {
  width: 4%;
  margin-top: -0.5%;
  margin-left: -18%;
  margin-right: 49%;
}

@media screen and (orientation: portrait) {
  #cefetlogo {
    width: 12%;
    margin-top: -1%;
    margin-right: 10%;
  }
}

.nav {
  text-align: center;
}

.menu_open {
  transform: translateX(0);
}

#menuedit ul {
  text-align: center;
}

#menuedit li {
  display: inline-block;
}

li {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.collapse .navbar-collapse {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#menuedit li a,
#menuedit li span {
  display: inline-block;
  margin-left: 0.50em;
  padding: 1em 1.5em;
  letter-spacing: 0.20em;
  text-decoration: none;
  font-size: 0.90em;
  font-weight: 600;
  text-transform: uppercase;
  outline: 0;
  color: #161143;
}

#menuedit .campus a {
  border: 2px solid #161143;
  border-radius: 4px;
}

@media screen and (orientation: portrait) {
  html,
  body {
    width: 100%;
  }
  #menuedit ul li {
    width: 100%;
  }
  #menuedit #menu-button {
    display: block;
    padding: 2px;
    color: #dddddd;
    cursor: pointer;
    font-size: 12px;
  }
}

@media screen and (orientation: portrait) {
  html,
  body {
    width: 100%;
  }
  #menu_icon {
    width: 10%;
  }
  #menuedit #menu-button {
    display: block;
    padding: 2px;
    color: #dddddd;
    cursor: pointer;
    font-size: 12px;
  }
}

#parte1,
#parte2 {
  background: #161143;
  height: min-content;
}

#parte2 {
  overflow-y: auto;
  flex: 1;
}

#mapeamento {
  overflow: hidden;
  width: 100%;
  padding: 1.5em 1.5em .5em;
  margin-left: auto;
  margin-right: auto;
  color: rgb(30, 81, 110);
}

#mapeamento .content {
  padding: 0em 8em;
}

#mapeamento .enunciado h2 {
  color: rgb(30, 81, 110);
}

#mapeamento a,
#mapeamento strong {
  color: rgb(30, 81, 110);
}

#footer {
  padding: 2em 0em 5em 0em;
  text-align: center;
}

#footer .enunciado h2 {
  color: rgba(255, 255, 255, 1);
}

#footer .enunciado .modo {
  letter-spacing: normal;
  font-size: 1.6em;
  color: (whitesmoke);
}

.btn-outline-light {
  color: #fff;
  background-color: #161143;
  border-color: #ffffff;
}

.bntClicado {
  background-color: #fff;
  color: #161142;
}

.images-mapa {
  display: block;
}

@media screen and (orientation: portrait) {
  .images-mapa {
    width: 100%;
  }
}

@media screen and (orientation: landscape) {
  .images-mapa {
    margin-left: auto;
    margin-right: auto;
  }
}

#mapa1,
#mapa2 {
  display: none;
  position: relative;
  margin-top: 0;
  margin-top: 1.5em;
}

body.mostrando-c1 #mapa1 {
  display: block;
}

body.mostrando-c2 #mapa2 {
  display: block;
}

body.mostrando-c1 [data-campus="novaSuica"],
body.mostrando-c2 [data-campus="novaGameleira"],
.bntClicado {
  background-color: #fff;
  color: #161142;
}

.row {
  font-size: 20px;
}

.camada {
  max-width: 100%;
}

.camada.tamanho-total {
  width: 100%;
  height: 100%;
}

@media screen and (orientation: landscape) {
  .camada {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.camada:not(.base) {
  position: absolute;
  z-index: 1;
  top: -0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 200ms ease-out;
}

.camada.sempre-visivel {
  opacity: 1;
}

.camada.visivel {
  opacity: 1;
}

.camada.sem-transicao {
  transition-property: none;
}

.com-sombra {
  filter: drop-shadow(1px 1px 0 #000);
}

.camada-de-marcadores {
  z-index: 200 !important;
  /* pointer-events: none; */
}

.criadoras {
  background-color: #eee4e4;
}

.imagem {
  width: 100%;
  margin: 2%;
  position: relative;
  text-align: center;
  font-family: titulo;
}

.imagem::after {
  content: attr(data-title);
  position: absolute;
  width: 100%;
  bottom: -20px;
  left: 0;
}

@media screen and (orientation: portrait) {
  .imagens {
    width: 100%;
    padding: 2%;
  }
}

.form-check-label {
  margin-left: 3.0em;
  color: white;
  margin-top: 3%;
}

.form-check-input {
  margin-top: 4%;
  margin-left: 1.5em;
}

#busca {
  font-size: 20px;
  padding: 0.5em;
  color: white;
}

#campo-de-busca {
  padding: 0.5em;
  flex: 1;
  margin-right: 0.5em;
  border-radius: 5px;
  border: 1px solid darkgray;
}

.campo-e-botao {
  display: block;
  font-size: 1em;
  display: flex;
  justify-content: space-between;
}

#resultados-da-busca {
  margin-top: 1em;
  font-size: 16px;
}

#resultados-da-busca ul {
  list-style-type: none;
  padding-left: 0;
}

.botoes-campi {
  display: flex;
  flex-direction: row;
  padding: 0.5em;
  justify-content: space-around;
}

.botoes-campi>button {
  flex: 1;
}

.botoes-campi>button:not(:last-of-type) {
  margin-right: 0.5em;
}

.ativadores-de-camadas {
  padding: 1em 1.25em 0;
  font-size: 1em;
  color: white;
}

.ativadores-de-camadas>.form-row {
  margin-bottom: 0.5em;
}

.ativadores-de-camadas .custom-control-label {
  background: #181c44d4;
  padding: 0 0.25em;
  border-radius: 5px;
}

.mapa-com-camadas {
  position: relative;
}

.sobreoprojeto p {
  color: #000000;
  text-align: center;
}

.sobreoprojeto h2 {
  padding-top: 25px;
  padding-bottom: 25px;
}

#footer {
  background-color: #161142;
}

.perfil {
  width: 200px;
  border-radius: 50%;
  border: #161142 solid 2px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
}

figure {
  text-align: center;
}

.perfis-des,
.perfis-ori {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  justify-content: center;
  align-items: center
}

@media screen and (orientation: portrait) {
  .perfil {
    width: 50px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
  }
  figure {
    text-align: center;
    font-size: 8px;
  }
}

#como-chegar {
  background-color: #161142;
}

#como-chegar h4 {
  color: white;
  margin-left: 5px;
}

#como-chegar p {
  color: white;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

#como-chegar a {
  color: white;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

.como-chegar-mapa {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  padding-top: 5px;
  padding-bottom: 5px;
}

@media screen and (orientation: landscape) {
  #como-chegar p {
    font-size: 17px;
  }
}

body.mostrando-c1 #como-chegar-c2 {
  display: none;
}

body.mostrando-c2 #como-chegar-c1 {
  display: none;
}

body.usuario-no-c1 [data-campus="novaSuica"]::before,
body.usuario-no-c2 [data-campus="novaGameleira"]::before {
  content: "";
  display: inline-block;
  --tamanho: 0.75em;
  width: var(--tamanho);
  height: var(--tamanho);
  position: relative;
  background: cornflowerblue;
  border-radius: 50%;
  margin-right: .5em;
  background-clip: content-box;
  padding: calc(var(--tamanho) / 15);
  border: 1px solid cornflowerblue;
  animation: pulsando 2s ease-in-out 0s infinite alternate;
}

@keyframes pulsando {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
  }
}

.marcador-posicao-usuario {
  opacity: 0;
}

body.usuario-no-c1.mostrando-c1 .marcador-posicao-usuario,
body.usuario-no-c2.mostrando-c2 .marcador-posicao-usuario {
  opacity: 1;
}


/* botões do rodapé e as "abas" */

body.aba-mapa-ativa #busca,
body.aba-mapa-ativa #como-chegar {
  display: none;
}

body.aba-busca-ativa #mapeamento,
body.aba-busca-ativa #como-chegar {
  display: none;
}

body.aba-como-chegar-ativa #mapeamento,
body.aba-como-chegar-ativa #busca {
  display: none;
}

.opcoes {
  display: flex;
  justify-content: center;
  background-color: #fff;
  position: sticky;
  bottom: 0;
  z-index: 1000;
  box-shadow: 4px -4px 8px #0008;
}

.btn-rodape {
  padding: 0.5rem;
  background-color: white;
  border-width: 1px 1px 0 0;
  border-color: silver;
  border-style: solid;
  perspective: 600px;
  flex: 1;
}

.btn-rodape-ativo {
  background-color: #161142;
  color: #ffffff;
  border-color: #ffffff;
}

.btn-rodape>img {
  height: 2em;
  width: auto;
  display: block;
  transform: rotateY( 17deg);
  margin: auto;
}

.identificacao-do-predio {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1000;
  background-image: linear-gradient(10deg, #fdfdfda1, #ffffffbf);
  box-shadow: 4px 4px 8px #0005;
  font-size: 0.75em;
  padding: 0.25em 0.5em;
  border-radius: 5px 0 0 5px;
  color: black;
  display: flex;
  align-items: center;
  opacity: 0;
  transform: translateX(101%);
  transition: all 300ms ease-out;
}

.identificacao-do-predio.localizado {
  opacity: 1;
  transform: translateX(0);
}

.predio-do-usuario {
  font-weight: bold;
  margin-left: 1em;
}

.identificacao-do-predio::before {
  content: "";
  display: inline-block;
  height: 1em;
  width: 1em;
  margin-right: 0.25em;
  background-image: url(images/gps-icone-dourado.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

@media screen and (orientation: landscape) {
  .btn-rodape {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media screen and (orientation: landscape) and (min-device-width: 901px) {
  .botoes-campi {
    display: block;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  body.mostrando-c1 #mapa1,
  body.mostrando-c2 #mapa2 {
    display: grid;
    grid-template-columns: minmax(90vh, 2fr) 1fr;
    align-items: center;
    margin-top: 0;
  }
  .mapa-com-camadas {
    flex: 2;
  }
  .ativadores-de-camadas {
    flex: 1;
  }
  body.mostrando-c1 #mapa1 {
    margin-top: -10%;
    margin-bottom: -3%;
  }
  .opcoes {
    position: absolute;
    width: 400px;
    bottom: 0;
    right: 0;
    border: 1px solid whitesmoke;
  }
  .campo-e-botao {
    max-width: 500px;
    margin: auto;
  }
}

@media screen and (orientation: landscape) and (max-device-width: 900px) {
  .ativadores-de-camadas {
    font-size: 0.6em;
    z-index: 1000;
  }
  #mapa2 .ativadores-de-camadas {
    position: absolute;
    right: 0;
    top: 0;
  }
  #mapa1 {
    margin-top: -30%;
    margin-bottom: -20%;
  }
  #mapa1 .ativadores-de-camadas {
    position: absolute;
    width: 100%;
    margin-top: -30%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0 1em;
    justify-content: center;
  }
  #mapa1 .ativadores-de-camadas .custom-control-label {
    line-height: 2em;
  }
  #parte1 .navbar {
    padding-top: 0;
    padding-bottom: 0;
    display: flex
  }
  #titulopagina {
    margin: 0 1em;
  }
  #cefetlogo {
    width: auto;
    height: 2em;
    margin: 0;
  }
  .btn-rodape {
    padding: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn-rodape>img {
    margin: 0 1em 0;
  }
}

#debug-gps {
  position: fixed;
  left: 1rem;
  bottom: 100px;
  z-index: 10000;
  background: #fffb;
  padding: 1em;
  font-family: monospace;
  border-radius: 5px;
  backdrop-filter: blur(3px);
}

#debug-gps.minimizado {
  height: 2em;
  overflow: hidden;
  padding: 0.25em 1em;
}

#debug-gps .minimizar {
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5em;
  height: 1.5em;
  margin-left: 1rem;
  border-radius: 50%;
  transition: all 200ms ease-out;
  cursor: pointer;
  color: darkred;
}

#debug-gps .minimizar:hover {
  background-color: #0001;
}

#debug-gps h3 {
  font-size: 1em;
  font-weight: bold;
  text-align: left;
  margin: 0 0 1rem;
}

#debug-gps.minimizado h3 {
  margin-top: 0.15em;
}

#debug-gps.minimizado .dados-gps {
  visibility: hidden;
}

.propriedade-gps {
  opacity: 0.8;
}