.marcador-posicao-usuario {
  --tamanho: 30px;
  position: absolute;
  left: calc(50% - var(--tamanho) / 2);
  top: calc(50% - var(--tamanho));
  z-index: 201;
  width: var(--tamanho);
  height: var(--tamanho);
  transform-origin: bottom center;
  transition-property: left, top;
  transition-duration: 100ms;
  transition-timing-function: ease-out;
}

.pino-gps {
  width: var(--tamanho);
  height: var(--tamanho);
  border-radius: 50% 50% 50% 0;
  border: calc(var(--tamanho) * 0.266667) solid #ff6b6b;
  background-color: #fffa;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: rotate(-45deg);
  margin: calc(var(--tamanho) * -0.5) 0 0 calc(var(--tamanho) * -0.5);
  animation-name: quicar;
  animation-fill-mode: both;
  animation-duration: 1s;
}

.pulsacao {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  height: calc(var(--tamanho) * 0.5);
  width: calc(var(--tamanho) * 0.5);
  position: absolute;
  left: 50%;
  top: 50%;
  margin: calc(var(--tamanho) * 0.5) 0px 0px calc(var(--tamanho) * -0.25);
  transform: rotateX(55deg);
  z-index: 200;
}

.pulsacao::after {
  content: "";
  border-radius: 50%;
  height: calc(var(--tamanho) * 1.33333);
  width: calc(var(--tamanho) * 1.33333);
  position: absolute;
  margin: calc(var(--tamanho) * -0.5) 0 0 calc(var(--tamanho) * -0.4);
  animation: pulsar 1s ease-out;
  animation-iteration-count: infinite;
  opacity: 0;
  box-shadow: 0 0 1px 2px #f7696a;
  animation-delay: 1.1s;
}

.marcador-busca {
  --tamanho: 2rem;
  position: absolute;
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  visibility: hidden;
  transform-origin: left top;
  width: var(--tamanho);
  height: var(--tamanho);
}

.marcador-busca::before {
  content: "×";
  font-size: var(--tamanho);
  font-family: monospace;
  font-weight: bold;
  color: yellow;
  text-shadow: 1px 1px black;
  animation: respirar 1s ease-in-out 0s infinite alternate;
}

.marcador-busca.visivel {
  visibility: visible;
}

@keyframes pulsar {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}

@keyframes quicar {
  0% {
    opacity: 0;
    transform: translateY(-2000px) rotate(-45deg);
  }
  60% {
    opacity: 1;
    transform: translateY(30px) rotate(-45deg);
  }
  80% {
    transform: translateY(-10px) rotate(-45deg);
  }
  100% {
    transform: translateY(0) rotate(-45deg);
  }
}

@keyframes respirar {
  from {
    transform: translate(calc(var(--tamanho) / -2), calc(var(--tamanho) / -2)) scale(1);
  }
  to {
    transform: translate(calc(var(--tamanho) / -2), calc(var(--tamanho) / -2)) scale(1.1);
  }
}